extends layout.pug

block content
    h1= title

    div
        a(href="/crud/crear" class="btn btn-primary") Crear

    ul(class="list-group")
        each a in list
            li(class="list-group-item")= a.nombre